# Do not include azure-functions-worker as it may conflict with the Azure Functions platform
azure-core==1.38.0
azure-functions==1.24.0
azure-identity==1.25.1
azure-mgmt-costmanagement==5.0.0
azure-storage-blob==12.27.1
requests==2.32.5
